.games_style{
    font-family: 'Bangers', cursive;
}

.account_font{
    font-family: 'Yatra One', cursive;
}

.img_thumb{
    width:'150px'
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}